header{
    justify-content: center;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.5);
    border-radius: 1.5rem;
    margin: 2rem;
    color: rgb(208, 180, 40);
}
.image h3{
    border: 3px solid rgb(208, 180, 40);
}
.image h1{
    display: flex;
    justify-content: center;
}
.image h2{
    display: flex;
    justify-content: center ;
    color: rgb(208, 180, 40);

}

.input{
    display: flex;
    justify-content: center;
}
iframe{
    display: flex;
    justify-content: center;
}

